
.mapcontextmenu-root {
  background-color: white;
  padding: 0.5em;
  border-radius: 0.75em;
  position: absolute;

  button {
    background-color: transparent;
    border: 0;
  }

  button:hover {
    background-color: #e0e0e0;
    border-radius: 0.5em;
  }
}
