
.marker-editor-root {
  position: absolute;
  top: 0;
  left: 0;

  > :first-child {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30em;
    min-height: 20em;
    padding: 1em;
    border-radius: 0.8em;
    max-width: 100vw;
    background-color: white;
  }
}