/*
 * components.scss
 * ----------------
 * Common component styles used across map controls and UI elements.
 * Purpose: base layout and small utility classes for controls.
 */

body {
  margin: 0;
}

.buttoncontrol-root {
  padding: 5px;
}

.layerscontrol-root {
  padding: 5px;

  > :first-child{
    > div {
      display: flex;
      flex-direction: row;
      input {
        margin-right: 0.5em;
        margin-left: 0.5em;
      }
      > label {
        padding-right: 2em;
      }
    }
  }
  .hidden {
    display: none;
  }
}



.searchcontrol-root {
  padding: 0.5em;

    > :first-child {
      // Button to open
    }
  // open Container
    > :last-child {
      display: flex;
      flex-direction: column;
      // First row
      > :first-child {
        display: flex;
        flex-direction: row;

        > :nth-child(n) {
          margin-right: 0.5em;
        }
        > label {
          align-content: center;
          font-weight: bold;
        }
        > input {
          flex-grow: 1;
          border-radius: 0.5em;
        }

        > button {
          border-radius: 0.5em;
          border: 1px black solid;
        }
      }
    }
}