
body {
  margin: 0;
}

.buttoncontrol-root {
  padding: 5px;
}

.layerscontrol-root {
  padding: 5px;

  > :first-child{
    > div {
      display: flex;
      flex-direction: row;
      input {
        margin-right: 0.5em;
        margin-left: 0.5em;
      }
      > label {
        padding-right: 2em;
      }
    }
  }
  .hidden {
    display: none;
  }
}