/*
 * login.scss
 * ----------
 * Styles for the login page shown to users when authentication is required.
 * Purpose: provide minimal, responsive styling for the login form.
 */

.login-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  align-content: center;
  align-items: center;

  .login-row {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;


    label {
      margin-bottom: 5px;
      font-size: 1.2em;
      font-weight: 500;
    }

    input {
      border: 1px solid black;
      text-align: center;
      border-radius: 5px;
    }
  }

  button {
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    width: 8em
  }

}
